numpy~=1.19.2
setuptools~=50.3.0
PyQt5~=5.15.1
Pillow~=7.2.0
pip~=20.2.3
wheel~=0.35.1
cryptography~=3.1
lxml~=3.5.0
PyYAML~=5.3.1
pytz~=2019.2
Cython~=0.29.17
six~=1.14.0
pyhdf~=0.10.2
certifi~=2019.9.11
python-dateutil~=2.8.0
matplotlib~=3.3.2
cycler~=0.10.0
PyGObject~=3.38.0
ipython~=7.18.1
tornado~=6.0.4
Sphinx~=3.2.1
docutils~=0.16
Jinja2~=2.11.2
pyparsing~=2.4.7
kiwisolver~=1.2.0